# Env
.env
.env.example
.env.*
!.env.example

# Data & Runtime (PENTING: Jangan sampai terhapus git clean -fd)
dataset/
encodings/
trainer/
static/uploads/

# Virtual Environment & Cache
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
